.header{
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header .item{
    padding: 0 20px;
}

.item__logo{
    color: #008CBA;
}

.item-push-left{
    margin-left: auto;
    padding: 0 20px;
}

.item__user-image{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.item__user-info{
    list-style: none;
    padding: 0;
}

.item__login{
    padding: 9px 10px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    background-color: #008CBA;
    color: white;
    margin-right: 10px;
}
.item__login:hover{ 
    background-color: #3dcfff;
    color: black;
}

.item__logout{
    padding: 9px 10px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    background-color: #555555;
    color: white;
    margin-right: 10px;
}

.item__logout:hover{ 
    background-color: #cac8c8;
    color: black;
}